/* PERFIL DE CLIENTE */
.perfil {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(114, 186, 186);
    color: black;
}

.btn-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: none;
    color: rgb(114, 186, 186);
}